<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 translate="settings.title" translate-values="{username: '{{vm.login}}'}">User settings for [<b>{{vm.login}}</b>]
            </h2>
            <div class="alert alert-success" ng-show="vm.success" translate="settings.messages.success">
                <strong>Settings saved!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" novalidate ng-submit="vm.save()" show-validation autocomplete="off"
                  enctype="multipart/form-data">

                <hr>
                <div class="alert alert-info">
                    <strong translate="settings.server.configuration">SERVER CONFIGURATION</strong>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : form.host.$invalid}">
                    <label class="control-label" for="host" translate="settings.form.host">Gluu server url</label>
                    <input type="text" class="form-control" id="host" name="host"
                           placeholder="{{'settings.form.host.placeholder' | translate}}"
                           ng-model="vm.opConfig.host" ng-minlength=1 ng-maxlength=50 ng-pattern="/^https?://[^/]*$/"
                           required maxlength="50">
                    <div ng-show="form.host.$invalid">
                        <p class="help-block"
                           ng-show="form.host.$error.required" translate="settings.messages.validate.host.required">
                            Your server url e.g. 'https://gluu.server.org'
                        </p>
                        <p class="help-block"
                           ng-show="form.host.$error.pattern" translate="settings.messages.validate.host.pattern"
                           translate-value-pattern="^https?://[^/]*$">
                            This field should follow pattern "^https?://[^/]*$".
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : form.clientId.$invalid}">
                    <label class="control-label" for="clientId" translate="settings.form.clientId">Client Id</label>
                    <input type="text" class="form-control" id="clientId" name="clientId"
                           placeholder="{{'settings.form.clientId.placeholder' | translate}}"
                           ng-model="vm.opConfig.clientId" required>
                    <div ng-show="form.clientId.$invalid">
                        <p class="help-block"
                           ng-show="form.clientId.$error.required"
                           translate="settings.messages.validate.clientId.required">
                            Your client_id e.g. '@!C0B0.XXXX.XXXX.XXXX!XXXX!XXXX.XXXX!XXXX!XXXX.3ECC'
                        </p>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : form.clientSecret.$invalid}">
                    <label class="control-label" for="clientSecret" translate="settings.form.clientSecret">Client
                        Secret</label>
                    <input type="text" class="form-control" id="clientSecret" name="clientSecret"
                           placeholder="{{'settings.form.clientSecret.placeholder' | translate}}"
                           ng-model="vm.opConfig.clientSecret" required>
                    <div ng-show="form.clientSecret.$invalid">
                        <p class="help-block"
                           ng-show="form.clientSecret.$error.required"
                           translate="settings.messages.validate.clientSecret.required">
                            Your client_secret e.g. '5225b8b4-xxxx-xxxx-xxxx-e8f23e6cb90d'
                        </p>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : form.umaAatClientId.$invalid}">
                    <label class="control-label" for="umaAatClientId" translate="settings.form.umaAatClientId">Client
                        Secret</label>
                    <input type="text" class="form-control" id="umaAatClientId" name="umaAatClientId"
                           placeholder="{{'settings.form.umaAatClientId.placeholder' | translate}}"
                           ng-model="vm.opConfig.umaAatClientId" required>
                    <div ng-show="form.umaAatClientId.$invalid">
                        <p class="help-block"
                           ng-show="form.umaAatClientId.$error.required"
                           translate="settings.messages.validate.umaAatClientId.required">
                            Your umaAatClientId e.g. '@!DBEC.XXXX.XXXX.XXXX!XXXX!XXXX.XXXX!XXXX!XXXX.7C8E'
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="umaAatClientKeyId" translate="settings.form.umaAatClientKeyId">Client
                        Secret</label>
                    <input type="text" class="form-control" id="umaAatClientKeyId" name="umaAatClientKeyId"
                           placeholder="{{'settings.form.umaAatClientKeyId.placeholder' | translate}}"
                           ng-model="vm.opConfig.umaAatClientKeyId">
                    <div ng-show="form.umaAatClientKeyId.$invalid">
                        <p class="help-block"
                           ng-show="form.umaAatClientKeyId.$error.required"
                           translate="settings.messages.validate.umaAatClientKeyId.required">
                            Your umaAatClientKeyId
                        </p>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : form.jks.$invalid}">
                    <label class="control-label" for="clientJKS" translate="settings.form.clientJKS">Client
                        JWKS</label>

                    <div class="input-group">
                      <span class="input-group-btn">
                        <div class="btn btn-primary" ngf-select ng-model="vm.jks" id="jks" name="jks" accept=".jks"
                             ngf-multiple="false" ng-required="!vm.opConfig.clientJKS">Select JKS
                        </div>
                      </span><input type="text" id="clientJKS" name="clientJKS" readonly class="form-control"
                                    placeholder="Search for jks..."
                                    ng-value="vm.opConfig.clientJKS">
                    </div>
                    <div ng-show="form.jks.$invalid">
                        <p class="help-block"
                           ng-show="form.jks.$error.required"
                           translate="settings.messages.validate.clientJKS.required">
                            Your e-mail is required.
                        </p>
                    </div>
                </div>

                <hr>
                <div class="alert alert-info">
                    <strong translate="settings.admin.configuration">ADMIN CREDENTIAL WEBSITE CONFIGURATION</strong>
                </div>

                <div class="form-group">
                    <label class="control-label" for="enableAdminPage"
                           translate="settings.form.enableAdminPage">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enableAdminPage"
                           name="enableAdminPage"
                           placeholder="{{'settings.form.enableAdminPage.placeholder' | translate}}"
                           ng-model="vm.opConfig.enableAdminPage" disabled/>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : form.jks.$invalid}">
                    <label class="control-label" for="authenticationLevel"
                           translate="settings.form.authenticationLevel">Client
                        Secret</label>
                    <input type="text" class="form-control" id="authenticationLevel"
                           name="authenticationLevel"
                           placeholder="{{'settings.form.authenticationLevel.placeholder' | translate}}"
                           ng-model="vm.opConfig.authenticationLevel" required>
                    <div ng-show="form.authenticationLevel.$invalid">
                        <p class="help-block"
                           ng-show="form.authenticationLevel.$error.required"
                           translate="settings.messages.validate.authenticationLevel.required">
                            Required authentication level for access to this admin panel
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : form.jks.$invalid}">
                    <label class="control-label" for="requiredClaim" translate="settings.form.requiredClaim">Last
                        Name</label>
                    <input type="text" class="form-control" id="requiredClaim" name="requiredClaim"
                           placeholder="{{'settings.form.requiredClaim.placeholder' | translate}}"
                           ng-model="vm.opConfig.requiredClaim" required>
                    <div ng-show="form.requiredClaim.$invalid">
                        <p class="help-block"
                           ng-show="form.requiredClaim.$error.required"
                           translate="settings.messages.validate.requiredClaim.required">
                            Your last name is required.
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : form.jks.$invalid}">
                    <label class="control-label" for="requiredClaimValue" translate="settings.form.requiredClaimValue">Last
                        Name</label>
                    <input type="text" class="form-control" id="requiredClaimValue" name="requiredClaimValue"
                           placeholder="{{'settings.form.requiredClaimValue.placeholder' | translate}}"
                           ng-model="vm.opConfig.requiredClaimValue" required>
                    <div ng-show="form.requiredClaimValue.$invalid">
                        <p class="help-block"
                           ng-show="form.requiredClaimValue.$error.required"
                           translate="settings.messages.validate.requiredClaimValue.required">
                            Your last name is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="enablePasswordManagement"
                           translate="settings.form.enablePasswordManagement">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enablePasswordManagement"
                           name="enablePasswordManagement"
                           placeholder="{{'settings.form.enablePasswordManagement.placeholder' | translate}}"
                           ng-model="vm.opConfig.enablePasswordManagement"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="enableEmailManagement"
                           translate="settings.form.enableEmailManagement">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enableEmailManagement"
                           name="enableEmailManagement"
                           placeholder="{{'settings.form.enableEmailManagement.placeholder' | translate}}"
                           ng-model="vm.opConfig.enableEmailManagement"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="enableMobileManagement"
                           translate="settings.form.enableMobileManagement">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enableMobileManagement"
                           name="enableMobileManagement"
                           placeholder="{{'settings.form.enableMobileManagement.placeholder' | translate}}"
                           ng-model="vm.opConfig.enableMobileManagement"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="enableSocialManagement"
                           translate="settings.form.enableSocialManagement">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enableSocialManagement"
                           name="enableSocialManagement"
                           placeholder="{{'settings.form.enableSocialManagement.placeholder' | translate}}"
                           ng-model="vm.opConfig.enableSocialManagement"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="enableU2FManagement"
                           translate="settings.form.enableU2FManagement">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enableU2FManagement"
                           name="enableU2FManagement"
                           placeholder="{{'settings.form.enableU2FManagement.placeholder' | translate}}"
                           ng-model="vm.opConfig.enableU2FManagement"/>
                </div>

                <hr>
                <div class="alert alert-info">
                    <strong translate="settings.social.configuration">ADMIN CREDENTIAL WEBSITE CONFIGURATION</strong>
                </div>

                <div class="form-group">
                    <label class="control-label" for="enableGoogleLogin"
                           translate="settings.form.enableGoogleLogin">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enableGoogleLogin"
                           ng-disabled="!vm.opConfig.enableSocialManagement"
                           name="google"
                           placeholder="{{'settings.form.enableGoogleLogin.placeholder' | translate}}"
                           ng-model="vm.opConfig.enableGoogleLogin"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="enableFacebookLogin"
                           translate="settings.form.enableFacebookLogin">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enableFacebookLogin"
                           ng-disabled="!vm.opConfig.enableSocialManagement"
                           name="facebook"
                           placeholder="{{'settings.form.enableFacebookLogin.placeholder' | translate}}"
                           ng-model="vm.opConfig.enableFacebookLogin"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="enableTwitterLogin"
                           translate="settings.form.enableTwitterLogin">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enableTwitterLogin"
                           ng-disabled="!vm.opConfig.enableSocialManagement"
                           name="enableTwitterLogin"
                           placeholder="{{'settings.form.enableTwitterLogin.placeholder' | translate}}"
                           ng-model="vm.opConfig.enableTwitterLogin"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="enableLinkedInLogin"
                           translate="settings.form.enableLinkedInLogin">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enableLinkedInLogin"
                           ng-disabled="!vm.opConfig.enableSocialManagement"
                           name="enableLinkedInLogin"
                           placeholder="{{'settings.form.enableLinkedInLogin.placeholder' | translate}}"
                           ng-model="vm.opConfig.enableLinkedInLogin"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="enableWindowsLiveLogin"
                           translate="settings.form.enableWindowsLiveLogin">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enableWindowsLiveLogin"
                           ng-disabled="!vm.opConfig.enableSocialManagement"
                           name="enableWindowsLiveLogin"
                           placeholder="{{'settings.form.enableWindowsLiveLogin.placeholder' | translate}}"
                           ng-model="vm.opConfig.enableWindowsLiveLogin"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="enableGithubLogin"
                           translate="settings.form.enableGithubLogin">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enableGithubLogin"
                           ng-disabled="!vm.opConfig.enableSocialManagement"
                           name="enableGithubLogin"
                           placeholder="{{'settings.form.enableGithubLogin.placeholder' | translate}}"
                           ng-model="vm.opConfig.enableGithubLogin"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="enableDropboxLogin"
                           translate="settings.form.enableDropboxLogin">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enableDropboxLogin"
                           ng-disabled="!vm.opConfig.enableSocialManagement"
                           name="enableDropboxLogin"
                           placeholder="{{'settings.form.enableDropboxLogin.placeholder' | translate}}"
                           ng-model="vm.opConfig.enableDropboxLogin"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="enableYahooLogin"
                           translate="settings.form.enableYahooLogin">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="enableYahooLogin"
                           ng-disabled="!vm.opConfig.enableSocialManagement"
                           name="enableYahooLogin"
                           placeholder="{{'settings.form.enableYahooLogin.placeholder' | translate}}"
                           ng-model="vm.opConfig.enableYahooLogin"/>
                </div>

                <hr>
                <div class="alert alert-info">
                    <strong translate="settings.email.configuration">ADMIN CREDENTIAL WEBSITE CONFIGURATION</strong>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : form.smtpHost.$invalid}">
                    <label class="control-label" for="smtpHost" translate="settings.form.smtpHost">Last
                        Name</label>
                    <input type="text" class="form-control" id="smtpHost" name="smtpHost"
                           ng-disabled="!vm.opConfig.enableEmailManagement"
                           placeholder="{{'settings.form.smtpHost.placeholder' | translate}}"
                           ng-model="vm.opConfig.smtpHost" ng-required="vm.opConfig.enableEmailManagement">
                    <div ng-show="form.smtpHost.$invalid">
                        <p class="help-block"
                           ng-show="form.smtpHost.$error.required"
                           translate="settings.messages.validate.smtpHost.required">
                            Your last name is required.
                        </p>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : form.smtpPort.$invalid}">
                    <label class="control-label" for="smtpPort" translate="settings.form.smtpPort">Last
                        Name</label>
                    <input type="text" class="form-control" id="smtpPort" name="smtpPort"
                           ng-disabled="!vm.opConfig.enableEmailManagement"
                           placeholder="{{'settings.form.smtpPort.placeholder' | translate}}"
                           ng-model="vm.opConfig.smtpPort" valid-number ng-required="vm.opConfig.enableEmailManagement">
                    <div ng-show="form.smtpPort.$invalid">
                        <p class="help-block"
                           ng-show="form.smtpPort.$error.required"
                           translate="settings.messages.validate.smtpPort.required">
                            Your last name is required.
                        </p>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : form.smtpUsername.$invalid}">
                    <label class="control-label" for="smtpUsername" translate="settings.form.smtpUsername">Last
                        Name</label>
                    <input type="text" class="form-control" id="smtpUsername" name="smtpUsername"
                           ng-disabled="!vm.opConfig.enableEmailManagement"
                           placeholder="{{'settings.form.smtpUsername.placeholder' | translate}}"
                           ng-model="vm.opConfig.smtpUsername" ng-required="vm.opConfig.enableEmailManagement">
                    <div ng-show="form.smtpUsername.$invalid">
                        <p class="help-block"
                           ng-show="form.smtpUsername.$error.required"
                           translate="settings.messages.validate.smtpUsername.required">
                            Your last name is required.
                        </p>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : form.smtpPassword.$invalid}">
                    <label class="control-label" for="smtpPassword" translate="settings.form.smtpPassword">Last
                        Name</label>
                    <input type="text" class="form-control" id="smtpPassword" name="smtpPassword"
                           ng-disabled="!vm.opConfig.enableEmailManagement"
                           placeholder="{{'settings.form.smtpPassword.placeholder' | translate}}"
                           ng-model="vm.opConfig.smtpPassword" ng-required="vm.opConfig.enableEmailManagement">
                    <div ng-show="form.smtpPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.smtpPassword.$error.required"
                           translate="settings.messages.validate.smtpPassword.required">
                            Your last name is required.
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="smtpUseSSL"
                           translate="settings.form.smtpUseSSL">Last
                        Name</label>
                    <input type="checkbox" class="form-control" id="smtpUseSSL"
                           ng-disabled="!vm.opConfig.enableEmailManagement"
                           name="smtpUseSSL"
                           placeholder="{{'settings.form.smtpUseSSL.placeholder' | translate}}"
                           ng-model="vm.opConfig.smtpUseSSL"/>
                </div>
                <hr>
                <div class="alert alert-info">
                    <strong translate="settings.twilio.configuration">ADMIN CREDENTIAL WEBSITE
                        CONFIGURATION</strong>
                </div>

                <div class="form-group"
                     ng-class="{ 'has-error' : form.twilioSID.$invalid}">
                    <label class="control-label" for="twilioSID" translate="settings.form.twilioSID">Last
                        Name</label>
                    <input type="text" class="form-control" id="twilioSID" name="twilioSID"
                           ng-disabled="!vm.opConfig.enableMobileManagement"
                           placeholder="{{'settings.form.twilioSID.placeholder' | translate}}"
                           ng-model="vm.opConfig.twilioSID" ng-required="vm.opConfig.enableMobileManagement">
                    <div ng-show="form.twilioSID.$invalid">
                        <p class="help-block"
                           ng-show="form.twilioSID.$error.required"
                           translate="settings.messages.validate.twilioSID.required">
                            Your last name is required.
                        </p>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : form.twilioToken.$invalid}">
                    <label class="control-label" for="twilioToken" translate="settings.form.twilioToken">Last
                        Name</label>
                    <input type="text" class="form-control" id="twilioToken" name="twilioToken"
                           ng-disabled="!vm.opConfig.enableMobileManagement"
                           placeholder="{{'settings.form.twilioToken.placeholder' | translate}}"
                           ng-model="vm.opConfig.twilioToken" ng-required="vm.opConfig.enableMobileManagement">
                    <div ng-show="form.twilioToken.$invalid">
                        <p class="help-block"
                           ng-show="form.twilioToken.$error.required"
                           translate="settings.messages.validate.twilioToken.required">
                            Your last name is required.
                        </p>
                    </div>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error' : form.twilioFromNumber.$invalid}">
                    <label class="control-label" for="twilioFromNumber" translate="settings.form.twilioFromNumber">Last
                        Name</label>
                    <input type="text" class="form-control" id="twilioFromNumber" name="twilioFromNumber"
                           ng-disabled="!vm.opConfig.enableMobileManagement"
                           placeholder="{{'settings.form.twilioFromNumber.placeholder' | translate}}"
                           ng-model="vm.opConfig.twilioFromNumber" ng-required="vm.opConfig.enableMobileManagement">
                    <div ng-show="form.twilioFromNumber.$invalid">
                        <p class="help-block"
                           ng-show="form.twilioFromNumber.$error.required"
                           translate="settings.messages.validate.twilioFromNumber.required">
                            Your last name is required.
                        </p>
                    </div>
                </div>


                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary"
                        translate="settings.form.button">Save
                </button>
            </form>
        </div>
    </div>

</div>
