<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-bottom: 30px;">
            <h1 translate="reset-password.email.request.title">Reset your password</h1>

            <div ng-show="vm.resetPasswordError" ng-switch="vm.resetPasswordError">
                <div class="alert alert-danger" ng-switch-when="error.findScimUser"
                     translate="reset-password.email.request.messages.error.findScimUser">
                    <strong>Registration failed!</strong> Please try again later.
                </div>
                <div class="alert alert-danger" ng-switch-default translate="reset-password.email.request.messages.error">
                    General error
                </div>
            </div>

            <div class="alert alert-warning" ng-hide="vm.resetPasswordSuccess || vm.resetPasswordError">
                <p translate="reset-password.email.request.messages.email-info">Enter the e-mail address you used to
                    register.</p>
            </div>

            <div class="alert alert-success" ng-show="vm.resetPasswordSuccess == 'OK'">
                <p translate="reset-password.email.request.messages.success">Check your e-mails for details on how to
                    reset
                    your
                    password.</p>
            </div>

            <form ng-show="!vm.resetPasswordSuccess" name="resetForm" role="resetForm" novalidate
                  ng-submit="vm.requestReset()" autocomplete="off"
                  show-validation>
                <div class="form-group" ng-hide="vm.isAuthenticated()">
                    <label class="control-label" for="companyShortName"
                           translate="reset-password.email.request.form.companyShortName">Openid provider short
                        name</label>
                    <input type="text" class="form-control" id="companyShortName" name="companyShortName"
                           placeholder="{{'reset-password.email.request.form.companyShortName.placeholder' | translate}}"
                           ng-model="vm.resetAccountCompanyShortName" ng-required="{{!vm.isAuthenticated()}}">
                    <div ng-show="resetForm.companyShortName.$dirty && resetForm.companyShortName.$invalid">
                        <p class="help-block"
                           ng-show="resetForm.companyShortName.$error.required"
                           translate="reset-password.email.request.messages.companyShortName.required">
                            Openid provider short name is required.
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label" for="email" translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email"
                           placeholder="{{'global.form.email.placeholder' | translate}}"
                           ng-model="vm.resetAccountEmail" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="resetForm.email.$dirty && resetForm.email.$invalid">
                        <p class="help-block"
                           ng-show="resetForm.email.$error.required"
                           translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                           ng-show="resetForm.email.$error.email" translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                           ng-show="resetForm.email.$error.minlength"
                           translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 5 characters.
                        </p>
                        <p class="help-block"
                           ng-show="resetForm.email.$error.maxlength"
                           translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters.
                        </p>
                    </div>
                </div>
                <button type="submit" ng-disabled="resetForm.$invalid" class="btn btn-primary"
                        translate="reset-password.email.request.form.button">Reset
                </button>
            </form>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="reset-password.password.title">Reset your password</h1>
            <div class="alert alert-warning" ng-hide="vm.isAuthenticated()">
                <a class="alert-link" href="" ng-click="vm.login()" translate="reset-password.login.title">Enter
                    new
                    password.</a><span translate="reset-password.password.info"></span>
            </div>

            <div class="alert alert-success" ng-show="vm.updatePasswordSuccess"
                 translate="reset-password.password.messages.success">
                <strong>Password changed!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.updatePasswordError" translate="password.messages.error">
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch" translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <form name="updateForm" role="updateForm" novalidate ng-submit="vm.changePassword()" show-validation
                  autocomplete="off">
                <fieldset ng-disabled="!vm.isAuthenticated()">
                    <div class="form-group">
                        <label class="control-label" for="password" translate="global.form.newpassword">New
                            password</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                               ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="updateForm.password.$dirty && updateForm.password.$invalid">
                            <p class="help-block"
                               ng-show="updateForm.password.$error.required"
                               translate="global.messages.validate.newpassword.required">
                                Your password is required.
                            </p>
                            <p class="help-block"
                               ng-show="updateForm.password.$error.minlength"
                               translate="global.messages.validate.newpassword.minlength">
                                Your password is required to be at least 4 characters.
                            </p>
                            <p class="help-block"
                               ng-show="updateForm.password.$error.maxlength"
                               translate="global.messages.validate.newpassword.maxlength">
                                Your password cannot be longer than 50 characters.
                            </p>
                        </div>
                        <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="confirmPassword" translate="global.form.confirmpassword">New
                            password confirmation</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                               ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="updateForm.confirmPassword.$dirty && updateForm.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="updateForm.confirmPassword.$error.required"
                               translate="global.messages.validate.confirmpassword.required">
                                Your confirmation password is required.
                            </p>
                            <p class="help-block"
                               ng-show="updateForm.confirmPassword.$error.minlength"
                               translate="global.messages.validate.confirmpassword.minlength">
                                Your confirmation password is required to be at least 4 characters.
                            </p>
                            <p class="help-block"
                               ng-show="updateForm.confirmPassword.$error.maxlength"
                               translate="global.messages.validate.confirmpassword.maxlength">
                                Your confirmation password cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" ng-disabled="updateForm.$invalid" class="btn btn-primary"
                        translate="reset-password.password.button">Save
                </button>
            </form>
        </div>
    </div>

</div>
