<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" style="margin-bottom: 30px;" ng-hide="vm.isAuthenticated()">
            <h1 translate="reset-password.reset.request.title">Reset your password</h1>

            <div ng-show="vm.resetPasswordError" ng-switch="vm.resetPasswordError">
                <div ng-switch-when="error.findScimUser">
                    <div ng-switch="vm.selectedResetOption.code">
                        <div class="alert alert-danger" ng-switch-when="email"
                             translate="reset-password.reset.request.email.messages.error.findScimUser">
                            <strong>E-Mail address isn't registered!</strong> Please check and try again
                        </div>
                        <div class="alert alert-danger" ng-switch-when="mobile"
                             translate="reset-password.reset.request.mobile.messages.error.findScimUser">
                            <strong>Mobile number isn't registered!</strong> Please check and try again
                        </div>
                    </div>
                </div>
                <div class="alert alert-danger" ng-switch-when="error.sendSMS"
                     translate="reset-password.reset.request.messages.error.sendSMS">
                    <strong>Company with this short name isn't registered!</strong> Please check and try again
                </div>
                <div class="alert alert-danger" ng-switch-when="error.retrieveOPConfig"
                     translate="reset-password.reset.request.email.messages.error.retrieveOPConfig">
                    <strong>Company with this short name isn't registered!</strong> Please check and try again
                </div>
                <div class="alert alert-danger" ng-switch-default
                     translate="reset-password.reset.request.email.messages.error">
                    General error
                </div>
            </div>

            <div class="alert alert-warning" ng-show="vm.noConfigForReset">
                <p translate="reset-password.reset.request.messages.error.no-config">Enter the e-mail...</p>
            </div>
            <div class="alert alert-danger" ng-show="vm.errorRetrievingResetOptions">
                <p translate="reset-password.reset.request.messages.error.retrieve-config">Enter the e-mail...</p>
            </div>

            <div ng-switch="vm.selectedResetOption.code" ng-hide="vm.resetPasswordSuccess || vm.resetPasswordError">
                <div class="alert alert-warning" ng-switch-when="email">
                    <p translate="reset-password.reset.request.email.messages.email-info">Enter the e-mail...</p>
                </div>
                <div class="alert alert-warning" ng-switch-when="mobile">
                    <p translate="reset-password.reset.request.mobile.messages.mobile-info">Enter the mobile...</p>
                </div>
            </div>

            <div ng-switch="vm.selectedResetOption.code" ng-show="vm.resetPasswordSuccess == 'OK'">
                <div class="alert alert-success" ng-switch-when="email">
                    <p translate="reset-password.reset.request.email.messages.success">Check your e-mails...</p>
                </div>
                <div class="alert alert-success" ng-switch-when="mobile">
                    <p translate="reset-password.reset.request.mobile.messages.success">Check your mobile...</p>
                </div>

            </div>

            <form ng-show="!vm.resetPasswordSuccess && !vm.noConfigForReset && !vm.errorRetrievingResetOptions"
                  name="resetForm" role="resetForm" novalidate
                  ng-submit="vm.onRequestResetSubmit()" autocomplete="off"
                  show-validation>
                <div class="form-group">
                    <label for="resetType">Reset password using:</label>
                    <select class="form-control" id="resetType" ng-init="vm.selectedResetOption = vm.resetOptions[0]"
                            ng-options="option.name | translate for option in vm.resetOptions"
                            ng-change="vm.onResetOptionChanged()"
                            ng-model="vm.selectedResetOption">
                    </select>
                </div>
                <div ng-switch="vm.selectedResetOption.code">
                    <div class="form-group" ng-switch-when="email"
                         ng-class="{ 'has-error' : resetForm.email.$invalid && !resetForm.email.$pristine}">
                        <label class="control-label" for="email" translate="global.form.email">E-mail</label>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="{{'global.form.email.placeholder' | translate}}"
                               ng-model="vm.resetAccountEmail" ng-minlength=5 ng-maxlength=100 required>
                        <div ng-show="resetForm.email.$dirty && resetForm.email.$invalid">
                            <p class="help-block"
                               ng-show="resetForm.email.$error.required"
                               translate="global.messages.validate.email.required">
                                Your e-mail is required.
                            </p>
                            <p class="help-block"
                               ng-show="resetForm.email.$error.email"
                               translate="global.messages.validate.email.invalid">
                                Your e-mail is invalid.
                            </p>
                            <p class="help-block"
                               ng-show="resetForm.email.$error.minlength"
                               translate="global.messages.validate.email.minlength">
                                Your e-mail is required to be at least 5 characters.
                            </p>
                            <p class="help-block"
                               ng-show="resetForm.email.$error.maxlength"
                               translate="global.messages.validate.email.maxlength">
                                Your e-mail cannot be longer than 100 characters.
                            </p>
                        </div>
                    </div>
                    <div class="form-group" ng-switch-when="mobile"
                         ng-class="{ 'has-error' : resetForm.mobile.$invalid && !resetForm.mobile.$pristine}">
                        <label class="control-label" for="mobile" translate="reset-password.reset.request.mobile.label">Mobile</label>
                        <input type="tel" class="form-control" id="mobile" name="mobile"
                               placeholder="{{'reset-password.reset.request.mobile.placeholder' | translate}}"
                               ng-model="vm.resetAccountMobile" ng-minlength=5 required valid-number>
                        <div ng-show="resetForm.mobile.$invalid">
                            <p class="help-block"
                               ng-show="resetForm.mobile.$error.required"
                               translate="reset-password.reset.request.mobile.messages.required">
                                Your e-mail is required.
                            </p>
                            <p class="help-block"
                               ng-show="resetForm.mobile.$error.minlength"
                               translate="reset-password.reset.request.mobile.messages.minlength">
                                Your e-mail is required to be at least 5 characters.
                            </p>
                        </div>
                    </div>
                </div>

                <button type="submit" ng-disabled="resetForm.$invalid || vm.disableResetPasswordBtn"
                        class="btn btn-primary"
                        translate="reset-password.reset.request.form.button">Reset
                </button>
            </form>
        </div>


        <div class="col-md-8 col-md-offset-2" ng-hide="!vm.isAuthenticated()">
            <h1 translate="reset-password.password.title">Reset your password</h1>

            <div class="alert alert-success" ng-show="vm.updatePasswordSuccess"
                 translate="reset-password.password.messages.success">
                <strong>Password changed!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.updatePasswordError" translate="password.messages.error">
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch" translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <form name="updateForm" role="updateForm" novalidate ng-submit="vm.onChangePasswordSubmit()" show-validation
                  autocomplete="off">
                <fieldset ng-disabled="!vm.isAuthenticated()">
                    <div class="form-group">
                        <label class="control-label" for="password" translate="global.form.newpassword">New
                            password</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                               ng-model="vm.password" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="updateForm.password.$dirty && updateForm.password.$invalid">
                            <p class="help-block"
                               ng-show="updateForm.password.$error.required"
                               translate="global.messages.validate.newpassword.required">
                                Your password is required.
                            </p>
                            <p class="help-block"
                               ng-show="updateForm.password.$error.minlength"
                               translate="global.messages.validate.newpassword.minlength">
                                Your password is required to be at least 4 characters.
                            </p>
                            <p class="help-block"
                               ng-show="updateForm.password.$error.maxlength"
                               translate="global.messages.validate.newpassword.maxlength">
                                Your password cannot be longer than 50 characters.
                            </p>
                        </div>
                        <password-strength-bar password-to-check="vm.password"></password-strength-bar>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="confirmPassword" translate="global.form.confirmpassword">New
                            password confirmation</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                               placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                               ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50 required>
                        <div ng-show="updateForm.confirmPassword.$dirty && updateForm.confirmPassword.$invalid">
                            <p class="help-block"
                               ng-show="updateForm.confirmPassword.$error.required"
                               translate="global.messages.validate.confirmpassword.required">
                                Your confirmation password is required.
                            </p>
                            <p class="help-block"
                               ng-show="updateForm.confirmPassword.$error.minlength"
                               translate="global.messages.validate.confirmpassword.minlength">
                                Your confirmation password is required to be at least 4 characters.
                            </p>
                            <p class="help-block"
                               ng-show="updateForm.confirmPassword.$error.maxlength"
                               translate="global.messages.validate.confirmpassword.maxlength">
                                Your confirmation password cannot be longer than 50 characters.
                            </p>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" ng-disabled="updateForm.$invalid"
                        class="btn btn-primary"
                        translate="reset-password.password.button">Save
                </button>
            </form>
        </div>
        <div class="col-md-8 col-md-offset-2" ng-hide="!vm.isAuthenticated()">
            <h1 translate="reset-password.u2f.title">Reset your password</h1>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="device in vm.fidoDevices">
                    <form name="fidoForm" role="fidoForm" novalidate>
                        <fieldset>
                            <div class="form-group">
                                <label class="control-label" for="created" translate="reset-password.u2f.form.created">New
                                    password</label>
                                <input type="text" class="form-control" id="created" name="created"
                                       placeholder="{{'reset-password.u2f.form.created.placeholder' | translate}}"
                                       ng-value="device.meta.created | date : 'MMM d, y h:mm:ss a'" readonly>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="status" translate="reset-password.u2f.form.status">New
                                    password</label>
                                <input type="text" class="form-control" id="status" name="status"
                                       placeholder="{{'reset-password.u2f.form.status.placeholder' | translate}}"
                                       ng-model="device.status" readonly>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="displayName"
                                       translate="reset-password.u2f.form.display.name">New
                                    password</label>
                                <input type="text" class="form-control" id="displayName" name="displayName"
                                       placeholder="{{'reset-password.u2f.form.display.name.placeholder' | translate}}"
                                       ng-model="device.displayName" required>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="description"
                                       translate="reset-password.u2f.form.description">New
                                    password</label>
                                <input type="text" class="form-control" id="description" name="description"
                                       placeholder="{{'reset-password.u2f.form.description.placeholder' | translate}}"
                                       ng-model="device.description" required>
                            </div>
                        </fieldset>
                        <button type="submit" ng-disabled="fidoForm.$invalid"
                                class="btn btn-warning" ng-click="vm.onUpdateFidoSubmit(device)"
                                translate="reset-password.u2f.button.update">Save
                        </button>
                        <button type="submit"
                                class="btn btn-danger" ng-click="vm.onUnregisterFidoSubmit(device.id)"
                                translate="reset-password.u2f.button.delete">Save
                        </button>
                    </form>
                </li>
            </ul>

            <div class="alert alert-success" ng-show="vm.unregisterFidoSuccess"
                 translate="reset-password.u2f.success">
                <strong>Password changed!</strong>
            </div>
            <div class="alert alert-danger" ng-show="vm.unregisterFidoError" translate="reset-password.u2f.error">
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <button type="submit" ng-hide="vm.unregisterFidoSuccess" ng-click="vm.onRegisterFidoSubmit()"
                    class="btn btn-primary"
                    translate="reset-password.u2f.button.register">Save
            </button>
        </div>
    </div>

</div>
