<div>
    <h2 translate="credmgrApp.oPConfig.home.title">OP Configs</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="o-p-config.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="credmgrApp.oPConfig.home.createLabel">
                        Create new OP Config
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="adminScimId"><span translate="credmgrApp.oPConfig.adminScimId">Admin Scim Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyName"><span translate="credmgrApp.oPConfig.companyName">Company Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyShortName"><span translate="credmgrApp.oPConfig.companyShortName">Company Short Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span translate="credmgrApp.oPConfig.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activated"><span translate="credmgrApp.oPConfig.activated">Activated</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="activationKey"><span translate="credmgrApp.oPConfig.activationKey">Activation Key</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="host"><span translate="credmgrApp.oPConfig.host">Host</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="clientId"><span translate="credmgrApp.oPConfig.clientId">Client Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="clientSecret"><span translate="credmgrApp.oPConfig.clientSecret">Client Secret</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="umaAatClientId"><span translate="credmgrApp.oPConfig.umaAatClientId">Uma Aat Client Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="umaAatClientKeyId"><span translate="credmgrApp.oPConfig.umaAatClientKeyId">Uma Aat Client Key Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="clientJKS"><span translate="credmgrApp.oPConfig.clientJKS">Client JKS</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="authenticationLevel"><span translate="credmgrApp.oPConfig.authenticationLevel">Authentication Level</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="requiredOpenIdScope"><span translate="credmgrApp.oPConfig.requiredOpenIdScope">Required Open Id Scope</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="requiredClaim"><span translate="credmgrApp.oPConfig.requiredClaim">Required Claim</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="requiredClaimValue"><span translate="credmgrApp.oPConfig.requiredClaimValue">Required Claim Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enablePasswordManagement"><span translate="credmgrApp.oPConfig.enablePasswordManagement">Enable Password Management</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enableAdminPage"><span translate="credmgrApp.oPConfig.enableAdminPage">Enable Admin Page</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enableEmailManagement"><span translate="credmgrApp.oPConfig.enableEmailManagement">Enable Email Management</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enableMobileManagement"><span translate="credmgrApp.oPConfig.enableMobileManagement">Enable Mobile Management</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enableSocialManagement"><span translate="credmgrApp.oPConfig.enableSocialManagement">Enable Social Management</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enableU2FManagement"><span translate="credmgrApp.oPConfig.enableU2FManagement">Enable U 2 F Management</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enableGoogleLogin"><span translate="credmgrApp.oPConfig.enableGoogleLogin">Enable Google Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enableFacebookLogin"><span translate="credmgrApp.oPConfig.enableFacebookLogin">Enable Facebook Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enableTwitterLogin"><span translate="credmgrApp.oPConfig.enableTwitterLogin">Enable Twitter Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enableLinkedInLogin"><span translate="credmgrApp.oPConfig.enableLinkedInLogin">Enable Linked In Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enableWindowsLiveLogin"><span translate="credmgrApp.oPConfig.enableWindowsLiveLogin">Enable Windows Live Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enableGithubLogin"><span translate="credmgrApp.oPConfig.enableGithubLogin">Enable Github Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enableDropboxLogin"><span translate="credmgrApp.oPConfig.enableDropboxLogin">Enable Dropbox Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="enableYahooLogin"><span translate="credmgrApp.oPConfig.enableYahooLogin">Enable Yahoo Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="smtpHost"><span translate="credmgrApp.oPConfig.smtpHost">Smtp Host</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="smtpPort"><span translate="credmgrApp.oPConfig.smtpPort">Smtp Port</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="smtpUsername"><span translate="credmgrApp.oPConfig.smtpUsername">Smtp Username</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="smtpPassword"><span translate="credmgrApp.oPConfig.smtpPassword">Smtp Password</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="smtpUseSSL"><span translate="credmgrApp.oPConfig.smtpUseSSL">Smtp Use SSL</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="twilioSID"><span translate="credmgrApp.oPConfig.twilioSID">Twilio SID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="twilioToken"><span translate="credmgrApp.oPConfig.twilioToken">Twilio Token</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="twilioFromNumber"><span translate="credmgrApp.oPConfig.twilioFromNumber">Twilio From Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="oPConfig in vm.oPConfigs track by oPConfig.id">
                    <td><a ui-sref="o-p-config-detail({id:oPConfig.id})">{{oPConfig.id}}</a></td>
                    <td>{{oPConfig.adminScimId}}</td>
                    <td>{{oPConfig.companyName}}</td>
                    <td>{{oPConfig.companyShortName}}</td>
                    <td>{{oPConfig.email}}</td>
                    <td>{{oPConfig.activated}}</td>
                    <td>{{oPConfig.activationKey}}</td>
                    <td>{{oPConfig.host}}</td>
                    <td>{{oPConfig.clientId}}</td>
                    <td>{{oPConfig.clientSecret}}</td>
                    <td>{{oPConfig.umaAatClientId}}</td>
                    <td>{{oPConfig.umaAatClientKeyId}}</td>
                    <td>{{oPConfig.clientJKS}}</td>
                    <td>{{oPConfig.authenticationLevel}}</td>
                    <td>{{oPConfig.requiredOpenIdScope}}</td>
                    <td>{{oPConfig.requiredClaim}}</td>
                    <td>{{oPConfig.requiredClaimValue}}</td>
                    <td>{{oPConfig.enablePasswordManagement}}</td>
                    <td>{{oPConfig.enableAdminPage}}</td>
                    <td>{{oPConfig.enableEmailManagement}}</td>
                    <td>{{oPConfig.enableMobileManagement}}</td>
                    <td>{{oPConfig.enableSocialManagement}}</td>
                    <td>{{oPConfig.enableU2FManagement}}</td>
                    <td>{{oPConfig.enableGoogleLogin}}</td>
                    <td>{{oPConfig.enableFacebookLogin}}</td>
                    <td>{{oPConfig.enableTwitterLogin}}</td>
                    <td>{{oPConfig.enableLinkedInLogin}}</td>
                    <td>{{oPConfig.enableWindowsLiveLogin}}</td>
                    <td>{{oPConfig.enableGithubLogin}}</td>
                    <td>{{oPConfig.enableDropboxLogin}}</td>
                    <td>{{oPConfig.enableYahooLogin}}</td>
                    <td>{{oPConfig.smtpHost}}</td>
                    <td>{{oPConfig.smtpPort}}</td>
                    <td>{{oPConfig.smtpUsername}}</td>
                    <td>{{oPConfig.smtpPassword}}</td>
                    <td>{{oPConfig.smtpUseSSL}}</td>
                    <td>{{oPConfig.twilioSID}}</td>
                    <td>{{oPConfig.twilioToken}}</td>
                    <td>{{oPConfig.twilioFromNumber}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="o-p-config-detail({id:oPConfig.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="o-p-config.edit({id:oPConfig.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="o-p-config.delete({id:oPConfig.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
