
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOpenidServerConfigurationLabel" translate="credmgrApp.openidServerConfiguration.home.createOrEditLabel">Create or edit a Openid Server Configuration</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.openidServerConfiguration.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.openidServerConfiguration.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="credmgrApp.openidServerConfiguration.host" for="field_host">Host</label>
            <input type="text" class="form-control" name="host" id="field_host"
                    ng-model="vm.openidServerConfiguration.host"
                    required ng-pattern="/^https?:.*$/" />
            <div ng-show="editForm.host.$invalid">
                <p class="help-block"
                    ng-show="editForm.host.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.host.$error.pattern" translate="entity.validation.pattern" translate-value-pattern="^https?:.*$">
                    This field should follow pattern "^https?:.*$".
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="credmgrApp.openidServerConfiguration.clientId" for="field_clientId">Client Id</label>
            <input type="text" class="form-control" name="clientId" id="field_clientId"
                    ng-model="vm.openidServerConfiguration.clientId"
                    required />
            <div ng-show="editForm.clientId.$invalid">
                <p class="help-block"
                    ng-show="editForm.clientId.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="credmgrApp.openidServerConfiguration.clientJWKS" for="field_clientJWKS">Client JWKS</label>
            <input type="text" class="form-control" name="clientJWKS" id="field_clientJWKS"
                    ng-model="vm.openidServerConfiguration.clientJWKS"
                    required />
            <div ng-show="editForm.clientJWKS.$invalid">
                <p class="help-block"
                    ng-show="editForm.clientJWKS.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="credmgrApp.openidServerConfiguration.enableAdminPage" for="field_enableAdminPage">Enable Admin Page</label>
            <input type="checkbox" class="form-control" name="enableAdminPage" id="field_enableAdminPage"
                    ng-model="vm.openidServerConfiguration.enableAdminPage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="credmgrApp.openidServerConfiguration.authenticationLevel" for="field_authenticationLevel">Authentication Level</label>
            <input type="number" class="form-control" name="authenticationLevel" id="field_authenticationLevel"
                    ng-model="vm.openidServerConfiguration.authenticationLevel"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="credmgrApp.openidServerConfiguration.requiredOpenIdScope" for="field_requiredOpenIdScope">Required Open Id Scope</label>
            <input type="text" class="form-control" name="requiredOpenIdScope" id="field_requiredOpenIdScope"
                    ng-model="vm.openidServerConfiguration.requiredOpenIdScope"
                    required />
            <div ng-show="editForm.requiredOpenIdScope.$invalid">
                <p class="help-block"
                    ng-show="editForm.requiredOpenIdScope.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="credmgrApp.openidServerConfiguration.requiredClaim" for="field_requiredClaim">Required Claim</label>
            <input type="text" class="form-control" name="requiredClaim" id="field_requiredClaim"
                    ng-model="vm.openidServerConfiguration.requiredClaim"
                    required />
            <div ng-show="editForm.requiredClaim.$invalid">
                <p class="help-block"
                    ng-show="editForm.requiredClaim.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="credmgrApp.openidServerConfiguration.requiredClaimValue" for="field_requiredClaimValue">Required Claim Value</label>
            <input type="text" class="form-control" name="requiredClaimValue" id="field_requiredClaimValue"
                    ng-model="vm.openidServerConfiguration.requiredClaimValue"
                    required />
            <div ng-show="editForm.requiredClaimValue.$invalid">
                <p class="help-block"
                    ng-show="editForm.requiredClaimValue.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="credmgrApp.openidServerConfiguration.enablePasswordManagement" for="field_enablePasswordManagement">Enable Password Management</label>
            <input type="checkbox" class="form-control" name="enablePasswordManagement" id="field_enablePasswordManagement"
                    ng-model="vm.openidServerConfiguration.enablePasswordManagement"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="credmgrApp.openidServerConfiguration.enableEmailManagement" for="field_enableEmailManagement">Enable Email Management</label>
            <input type="checkbox" class="form-control" name="enableEmailManagement" id="field_enableEmailManagement"
                    ng-model="vm.openidServerConfiguration.enableEmailManagement"
                     />
        </div>

        <div class="form-group">
            <label translate="credmgrApp.openidServerConfiguration.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.openidServerConfiguration.user" ng-options="user as user.id for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
