<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.cancel()">&times;</button>
    <h4 class="modal-title" translate="login.title">Sign in</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 translate="login.title">Sign in</h1>
        </div>
        <div class="col-md-8 col-md-offset-2">
            <div class="alert alert-danger" ng-show="vm.authenticationError"
                 translate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
        <div class="col-md-8 col-md-offset-2" ng-switch="vm.loginUri==null">
            <form name="form" role="form" ng-submit="vm.getLoginUri()" show-validation
                  ng-switch-when="true">
                <div class="form-group">
                    <label for="companyShortName" translate="global.form.companyShortName">Login</label>
                    <input type="text" class="form-control" id="companyShortName"
                           placeholder="{{'global.form.companyShortName.placeholder' | translate}}"
                           ng-model="vm.companyShortName" required>
                    <div ng-show="form.companyShortName.$dirty && form.companyShortName.$invalid">
                        <p class="help-block"
                           ng-show="form.companyShortName.$error.required"
                           translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" translate="login.form.next.button">Sign in
                </button>
                <p></p>
                <div class="alert alert-warning" translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" href="" ng-click="vm.register()">Register a new
                    account</a>
                </div>
            </form>
            <div ng-switch-when="false">
                <form ng-submit="vm.login()">
                    <button type="submit" id="loginBtn" class="btn btn-primary" translate="login.form.login.button">Sign
                        in
                    </button>
                </form>
                <p></p>
                <div class="alert alert-warning" translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" href="" ng-click="vm.register()">Register a new
                    account</a>
                </div>
            </div>
        </div>
    </div>
</div>
